#button1{
    background-color: red;
}

#button2{
    background-color: royalblue;
}

#button3{
    background-color: green;
}

#button4{
    background-color: purple;
}

#button5{
    background-color: yellow;
}

#container{
    display:flex;
    width: 90%;
    margin:auto;
    bottom:5%;
    left:5%;
    position: absolute;
}

#container > div{
    flex:1;
    width: 100px;
    height: 150px;
    margin-right: 2%;
}


body{
    background-image: url("./sounds\ for\ music\ project/backgroundmusic.jpg")
}
